@keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

#chatbot {
  width: 350px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: translateX(110%) translateY(110%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}

#chatbot.open {
  transform: translateX(0%) translateY(0%);
  opacity: 1;
}

#chatbot ::-webkit-scrollbar {
  width: 10px !important;
  background-color: #f5f5f5;
  color: #000;
  display: none;
}

#chatbot ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#chatbot ::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

#chatbot:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.conversation-background{
  background-color: #280245;

}

#chatbot #chatbot-conversation {
  padding: 10px 10px 0 10px;
  height: 460px;
  overflow-y: scroll;
  align-content: flex-start;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

#chatbot #chatbot-conversation .message-bubble {
  padding: 7px !important;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}

#chatbot #chatbot-conversation .message-bubble p{
  margin: 0;
}

#chatbot #chatbot-conversation .message-bubble:hover {
  transform: translateY(-5px);
}

#chatbot #chatbot-conversation .user {
  text-align: right;
  background-color: #0084ff;
  color: white;
  margin-left: auto;
  width: fit-content;
  border-bottom-right-radius: 0;
  opacity: 0;
}

#chatbot #chatbot-conversation .bot {
  align-self: flex-start;
  background-color: #f1f0f0;
  color: black;
  margin-right: auto;
  width: fit-content;
  border-bottom-left-radius: 0;
}

#chatbot form {
  display: flex;
  padding: 10px;
  background-color: #280245;
}

#chatbot form input {
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

#chatbot .chatbot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #280245;
  padding: 10px;
  color: #fff;
}

#chatbot .chatbot-header .close-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


#chatbot .chatbot-header h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.chat-button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background: transparent !important;
  transition: transform 1s ease-out;
}

.chat-button img {
  width: 6rem;
  height: 6rem;
}

.chat-button img:hover {
  cursor: pointer;
  animation: rubber 1s;
}

.chat-button.open {
  transform: scale(0);
  transition: transform 1s ease-out;
}

button {
  background-color: #0084ff;
  color: white;
  padding: 5px 10px;
  border-radius: 10px !important;
  border: none;
}

.popular-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  padding-top: 10px;
  margin: 0 5px;
  border-radius: 0 0 10px 10px;
}

.popular-questions.close {
  display: none;
}

.popular-questions button {
  margin: 3px;
  font-size: 15px;
  background-color: #280245;
  color: white;
  border: none;
  cursor: pointer;
}

.popular-questions button:hover {
  background-color: #1d0133;
}

.message-bubble.new-message {
  animation: slide-in 0.5s ease-out;
  opacity: 1 !important;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

button[type="submit"] {
  transition: all 0.3s ease;
}

button[type="submit"]:active {
  transform: scale(0.9);
}
